<div class="page-container">
  <mat-tab-group>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-address-book-o example-mat-icon"></i> Farmers Directorate
      </ng-template>
      <div class="page-content">
        <mat-card class="page-card">
          <mat-toolbar>
            <span class="text-bold {{appService.getState().titleColor1}}">
              <i class="fa fa-address-book-o example-mat-icon"></i> {{appService.getState().topNavTitle}}</span>

            <!-- This fills the remaining space of the current row -->
            <span class="toolbar-filler"></span>

            <div fxLayout="row">
              <input type='text' placeholder='Type to filter by creditors name...'>
              <button color="accent" mat-raised-button>
                <i class="fa fa-file-excel-o"></i>Export
              </button>
            </div>
          </mat-toolbar>
          <mat-card-content class="bg-lightGray">

            <div class="mat-elevationn-z8 ">
              <table cdk-table mat-elevation-z8 class="table striped table-responsive row-hover compact row-border cell-border table-border w-100"
                [dataSource]="farmersDataSource">
                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell [ngClass]="{'sortable-column': true, 'sort-asc':'true'}" *cdkHeaderCellDef> Name </th>
                  <td cdk-cell *cdkCellDef="let e"> {{e.first_name + " " +e.middle_name + " "+ e.surname}} </td>
                </ng-container>
                <ng-container cdkColumnDef="sex">
                  <th cdk-header-cell *cdkHeaderCellDef> Sex </th>
                  <td cdk-cell *cdkCellDef="let e"> {{e.sex}} </td>
                </ng-container>

                <ng-container cdkColumnDef="phone_number">
                  <th cdk-header-cell *cdkHeaderCellDef> Phone Number </th>
                  <td cdk-cell *cdkCellDef="let e"> {{e.phone_number}} </td>
                </ng-container>

                <ng-container cdkColumnDef="is_absentee_farmer">
                  <th cdk-header-cell *cdkHeaderCellDef> Is Absentee </th>
                  <td cdk-cell *cdkCellDef="let e"> {{e.is_absentee_farmer}} </td>
                </ng-container>
                <ng-container cdkColumnDef="enterprise_engagements">
                  <th cdk-header-cell *cdkHeaderCellDef> Enterprise Engagements </th>
                  <td cdk-cell *cdkCellDef="let e">
                    <mat-chip-list>
                      <mat-chip *ngFor="let item of e.enterprise_engagement">{{item.enterprise_name}}</mat-chip>
                    </mat-chip-list>
                  </td>
                </ng-container>

                <ng-container cdkColumnDef="actions">
                  <th cdk-header-cell *cdkHeaderCellDef> Actions </th>
                  <td cdk-cell *cdkCellDef="let e">
                    <button (click)="ViewProfile(e)" mat-stroked-button color="primary" class="m-1">
                      View profile</button>
                  </td>
                </ng-container>


                <tr cdk-header-row *cdkHeaderRowDef="displayedColumns.value"></tr>
                <tr cdk-row [ngClass]="{'bg-orange': false}" *cdkRowDef="let row; columns: displayedColumns.value;"></tr>

              </table>
            </div>


          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-mat-icon">history</mat-icon> Recent
      </ng-template>
      <h2>Sample tabs</h2>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
        aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-bar-chart example-mat-icon"></i> Summary
      </ng-template>
      <h2>Sample tabs</h2>
      <p>
        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table
        readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy
        hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi
        whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
        heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
      </p>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-user-plus example-mat-icon"></i> Unverified Farmers
      </ng-template>
      <h2>Sample tabs</h2>
      <p>Food truck fixie locavore, accusamus mcsweeney's marfulla single-origin coffee squid. Exercitation +1 labore velit,
        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
        letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
        assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
        stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
        park.
      </p>
    </mat-tab>
  </mat-tab-group>

</div>
