<div class="page-container">
  <mat-tab-group>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-address-book-o example-mat-icon"></i> Farmers Directorate
      </ng-template>
      <div class="page-content">
        <mat-card class="page-card">
          <mat-toolbar>
            <span class="text-bold {{appService.getState().titleColor1}}">
              <i class="fa fa-address-book-o example-mat-icon"></i> {{appService.getState().topNavTitle}}</span>

            <!-- This fills the remaining space of the current row -->
            <span class="toolbar-filler"></span>

            <div fxLayout="row">
              <input type='text' placeholder='Type to filter by creditors name...' (keyup)='updateFilter($event)'>
              <button color="accent" mat-raised-button>
                <i class="fa fa-file-excel-o"></i>Export
              </button>
            </div>
          </mat-toolbar>
          <mat-card-content class="bg-lightGray">
            <p-table [autoLayout]="true" [value]="farmers">
              <ng-template pTemplate="header">
                <tr>
                  <th>Applicant No.</th>
                  <th>Reg. No.</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Sex</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-farmer>
                <tr>
                  <td>{{farmer.applicant_number}}</td>
                  <td>{{farmer.registration_number}}</td>
                  <td>{{farmer.photograph_url}}</td>
                  <td>{{farmer.surname + " "+ farmer.first_name}}</td>
                  <td>{{farmer.sex}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                There are {{farmers?.length}} farmers
              </ng-template>
            </p-table>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-mat-icon">history</mat-icon> Recent Transactions
      </ng-template>
      <h2>Sample tabs</h2>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
        aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-bar-chart example-mat-icon"></i> Summary
      </ng-template>
      <h2>Sample tabs</h2>
      <p>
        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table
        readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy
        hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi
        whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
        heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
      </p>
    </mat-tab>



    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-user-plus example-mat-icon"></i> New Registration
      </ng-template>
      <div class="page-content">
        <mat-card class="page-card">
          <mat-toolbar>
            <span class="text-bold {{appService.getState().titleColor1}}">
              <i class="fa fa-user-plus example-mat-icon"></i> New Farmer Registration</span>

            <span class="toolbar-filler"></span>

            <div fxLayout="row">

            </div>
          </mat-toolbar>
          <mat-card-content>
            <mat-horizontal-stepper [linear]="true">
              <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
              </ng-template>

              <ng-template matStepperIcon="done">
                <i>done_all</i>
              </ng-template>

              <!-- Custom icon with a context variable. -->
              <ng-template matStepperIcon="number" let-index="index">
                <span class="fg-white">{{index+1}}</span>
              </ng-template>

              <mat-step [stepControl]="personalFormGroup">
                <form [formGroup]="personalFormGroup">
                  <ng-template matStepLabel>
                    <span>
                      <i class="fa fa-user"></i> Personal
                    </span>
                  </ng-template>
                  <div class="d-flex">
                    <mat-card class="w-50 mr-4">
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxLayout="column">
                            <img class="form-avatar mb-2 mr-16" src="assets/img/avatar.jpg" />
                            <!-- TODO: Make the image clickable and trigger file dialog there -->
                            <!-- <button mat-raised-button>Upload Photo</button> -->
                          </div>
                          <div class="w-75" fxLayout="column">
                            <mat-form-field>
                              <input matInput placeholder="First Name" formControlName="firstNameCtrl" required>
                            </mat-form-field>
                            <mat-form-field>
                              <input matInput formControlName="surnameCtrl" placeholder="Surname" required>
                            </mat-form-field>
                            <mat-form-field>
                              <input matInput formControlName="middleNameCtrl" placeholder="Middle Name">
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxLayout="column">
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <mat-select placeholder="Gender" formControlName="genderControl" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let gender of genders" [value]="gender">
                                  {{gender}}
                                </mat-option>
                              </mat-select>
                              <!-- <mat-error *ngIf="genderControl.hasError('required')">Please choose a gender</mat-error> -->
                              <!-- <mat-hint>{{genderControl.value}}</mat-hint> -->
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput [matDatepicker]="picker" formControlName="birthDateCtrl" placeholder="Choose birth date">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <mat-select placeholder="Identification Card Type" formControlName="idsControl" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let id of ids" [value]="id">
                                  {{id}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="idNumberCtrl" placeholder="ID Card Number">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-checkbox #isAbsentee formControlName="isAbsenteeCtrl" class="mr-11 w-50 mt-2">Is an Absentee Farmer</mat-checkbox>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="phoneCtrl" placeholder="Phone number">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row" [hidden]="isAbsenteeFarmer" id="caretaker_info">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="caretakerNameCtrl" placeholder="Caretaker Name">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="caretakerPhoneCtrl" placeholder="Caretaker Phone number">
                            </mat-form-field>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <mat-card class="w-50 ml-4">
                      <fieldset appearance="outline">
                        <legend>Physical Address</legend>
                        <div fxLayout="column">
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="settlementCtrl" placeholder="Town/Village/Settlement">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="streetCtrl" placeholder="Street/Trace Address">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="districtCtrl" placeholder="District/Province">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="houseCtrl" placeholder="House Number">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <mat-select placeholder="Region" name="region" formControlName="regionCtrl" required>
                                <mat-option>--- select account type ---</mat-option>
                                <mat-option *ngFor="let r of regions" [value]="r">
                                  {{r}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="countryCtrl" value="Ghana" placeholder="Country">
                            </mat-form-field>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset appearance="outline">
                        <legend>Postal Address</legend>
                        <div fxLayout="column">
                          <div fxLayout="row">
                            <mat-form-field style="width: 100%" class="mr-8">
                              <input matInput formControlName="postalOfficeCtrl" placeholder="Postal Office Address">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field style="width: 100%" class="mr-8">
                              <input matInput formControlName="postalTownCtrl" placeholder="Postal Town">
                            </mat-form-field>

                          </div>
                          <div fxLayout="row">
                            <mat-form-field style="width: 100%" class="mr-8">
                              <input matInput formControlName="postalStreetCtrl" placeholder="Postal Street Address">
                            </mat-form-field>
                          </div>

                        </div>
                      </fieldset>
                    </mat-card>

                  </div>
                  <div class="d-flex flex-row flex-justify-between pt-8 pr-8">
                    <!-- <button mat-raised-button color="accent" type="button" matStepperPrevious>Back</button> -->
                    <span class="toolbar-filler"></span>
                    <button mat-raised-button type="button" color="accent" (click)="proceedFromPersonalDetails()" matStepperNext> Continue
                      <i class="fa fa-chevron-right"></i>
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step style="height: 1200px" [stepControl]="enterprisesFormGroup">
                <form [formGroup]="enterprisesFormGroup">
                  <ng-template matStepLabel>
                    <span>
                      <i class="fa fa-cubes"></i> Enterprise
                    </span>
                  </ng-template>
                  <div>
                    <mat-card class="pb-0">
                      <form #addEnterpriseForm="ngForm">
                        <div class="d-flex">
                          <legend class="fg-orange pt-4 pr-4">Add Enterprise Engagement</legend>
                          <mat-form-field class="w-25 mr-8">
                            <mat-select placeholder="Enterprise Category" name="enterpriseCategory" required [(ngModel)]="selectedEnterprise">
                              <mat-option>--- select category ---</mat-option>
                              <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.name">
                                {{enterprise.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="w-25 mr-8">
                            <mat-select placeholder="Enterprise Category" name="engagementLevel" [(ngModel)]="selectedEngagementLevel" required>
                              <mat-option>--- select level ---</mat-option>
                              <mat-option *ngFor="let level of enterpriseEngagementLevels" [value]="level">
                                {{level}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <button mat-raised-button type="submit" [disabled]="addEnterpriseForm.invalid" (click)="addEnterpriseEngagment()" color="accent"
                            style="width: 200px; height: 40px !important;">
                            <i class="fa fa-plus"></i> Add Engagement</button>
                        </div>

                      </form>
                    </mat-card>
                    <mat-card>
                      <mat-card-content>
                        <mat-chip-list>
                          <mat-basic-chip *ngFor="let item of currentEngagementList" color="accent">
                            <span class="chip-enterprise text-upper">{{item.enterprise_name}}</span>&nbsp;
                            <span class="chip-engagement-level">({{item.engagement_level}})</span>
                            <button (click)="removeEnterpriseEngagement(item)" mat-icon-button>
                              <i class="fa fa-remove"></i>
                            </button>
                          </mat-basic-chip>

                        </mat-chip-list>
                      </mat-card-content>
                    </mat-card>

                  </div>
                  <div class="d-flex flex-row flex-justify-between pt-8 pr-8">
                    <button mat-raised-button color="accent" matStepperPrevious>
                      <i class="fa fa-chevron-left"></i> Previous</button>
                    <button [disabled]="this.currentEngagementList.length ==0" (click)="proceedFromEnterpriseDetails()" mat-raised-button color="accent"
                      matStepperNext>Next
                      <i class="fa fa-chevron-right"></i>
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step label="Land Parcels">
                <ng-template matStepLabel>
                  <span>
                    <i class="fa fa-cubes"></i> Land Parcels
                  </span>
                </ng-template>

                <div fxLayout="column">
                  <!-- <div fxLayout="row" fxFlex="100%">
                    <div fxFlex="80%" class="mt-2 text-bold {{appService.getState().titleColor1}}">
                      <input class="mt-2" type="search" data-role="search" (keyup)="applyLandFilter($event.target.value)" placeholder="Search...">
                    </div>

                    <div fxFlex="20%" class="ml-8" fxLayout="row" fxLayoutAlign="end end">

                      <button style="width: 100px" color="accent" class="ml-2 w-100 mt-2" (click)="openAddLandDialog()" mat-stroked-button>
                        <i class="fa fa-plus"></i> Add new Land
                      </button>
                    </div>
                  </div> -->
                  <div class="mat-elevationn-z8 ">
                    <table mat-table matSort mat-elevation-z8 class="w-100" [dataSource]="landsDataSource">


                      <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                        <td mat-cell *matCellDef="let e"> {{e.address}} </td>
                      </ng-container>
                      <ng-container matColumnDef="size_area">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                        <td mat-cell *matCellDef="let e"> {{e.size_area}} </td>
                      </ng-container>
                      <ng-container matColumnDef="region">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
                        <td mat-cell *matCellDef="let e"> {{e.region}} </td>
                      </ng-container>
                      <ng-container matColumnDef="district">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
                        <td mat-cell *matCellDef="let e"> {{e.district}} </td>
                      </ng-container>
                      <ng-container matColumnDef="locality">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Locality </th>
                        <td mat-cell *matCellDef="let e"> {{e.locality}} </td>
                      </ng-container>
                      <ng-container matColumnDef="tenureship_model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenureship Model </th>
                        <td mat-cell *matCellDef="let e">
                          <span *ngFor="let item of e.applicable_tenure_codes">{{item}}, </span>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let e">

                          <button (click)="openDeleteLandDialog(e)" mat-stroked-button color="warn" class="m-1">
                            <i class="fa fa-edit"></i> Delete</button>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="landColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: landColumns;"></tr>

                    </table>
                    <div fxLayout="row" fxLayoutAlign="space-between">

                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      <button color="primary" class="ml-4-minus mt-2" (click)="openAddLandDialog()" mat-stroked-button>
                        <i class="fa fa-plus"></i> Add a new Land Parcel
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row flex-justify-between pt-8 pr-8">
                  <button mat-raised-button color="accent" matStepperPrevious>
                    <i class="fa fa-chevron-left"></i> Previous</button>
                  <button [disabled]="this.currentLandList.length ==0" (click)="proceedFromLandDetails()" mat-raised-button color="accent"
                    matStepperNext>Next
                    <i class="fa fa-chevron-right"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step label="Bank Info" [stepControl]="bankInfoForm">
                <form [formGroup]="bankInfoForm">
                  <ng-template matStepLabel>
                    <span>
                      <i class="fa fa-bank"></i> Bank Information
                    </span>
                  </ng-template>
                  <div class="d-flex">

                    <mat-card class="w-100 ml-4">
                      <fieldset appearance="outline">
                        <legend>Bank Information</legend>
                        <div fxLayout="column">
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <mat-select placeholder="Account Type" name="accountType" formControlName="accountTypeCtrl" required>
                                <mat-option>--- select account type ---</mat-option>
                                <mat-option *ngFor="let accType of accountTypes" [value]="accType">
                                  {{accType}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="branchNameCtrl" placeholder="Bank Branch Name">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="accountNameCtrl" placeholder="Account Name">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="accountNumberCtrl" placeholder="Account Number">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="bicSwiftCodeCtrl" placeholder="BIC/ Swift Code">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="bankNameCtrl" placeholder="Bank Name">
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <mat-form-field class="w-50 mr-8">
                              <input matInput formControlName="branchAddressCtrl" placeholder="Bank Address">
                            </mat-form-field>
                            <mat-form-field class="w-50">
                              <input matInput formControlName="bankPhoneCtrl" placeholder="Bank Telephone Number">
                            </mat-form-field>
                          </div>
                        </div>
                      </fieldset>

                    </mat-card>

                  </div>
                  <div class="d-flex flex-row flex-justify-between pt-8 pr-8">
                    <!-- <button mat-raised-button color="accent" type="button" matStepperPrevious>Back</button> -->
                    <span class="toolbar-filler"></span>
                    <button mat-raised-button type="button" color="accent" (click)="saveFarmer()" matStepperNext> Register Farmer
                      <i class="fa fa-chevron-right"></i>
                    </button>
                  </div>
                </form>
              </mat-step>
              <!-- <mat-step label="Finish">
                <form>
                  <ng-template matStepLabel>
                    <span>
                      <i class="fa fa-bookmark"></i> Finish
                    </span>
                  </ng-template>
                  <div class="d-flex">

                    <mat-card class="w-100 ml-4">
                      <fieldset appearance="outline">
                        <legend>Personal Information</legend>
                        <div fxLayout="column">

                          <div fxLayout="row">
                            <mat-form-field class="w-25 mr-8">
                              <input matInput disabled value="Samuel Akoman" placeholder="Account Name">
                            </mat-form-field>
                            <mat-form-field class="w-25 mr-8">
                              <input matInput disabled value="Samuel Akoman" placeholder="Account Name">
                            </mat-form-field>
                            <mat-form-field class="w-25 mr-8">
                              <input matInput disabled value="Samuel Akoman" placeholder="Account Name">
                            </mat-form-field>
                          </div>
                        </div>

                      </fieldset>

                    </mat-card>

                  </div>
                  <div class="d-flex flex-row flex-justify-between pt-8 pr-8">
                    <span class="toolbar-filler"></span>
                    <button mat-raised-button type="button" color="accent" (click)="proceedFromPersonalDetails()" matStepperNext> Continue
                      <i class="fa fa-chevron-right"></i>
                    </button>
                  </div>
                </form>
              </mat-step> -->
            </mat-horizontal-stepper>

          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-user-plus example-mat-icon"></i> Owing Accouts
      </ng-template>
      <h2>Sample tabs</h2>
      <p>Food truck fixie locavore, accusamus mcsweeney's marfulla single-origin coffee squid. Exercitation +1 labore velit,
        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
        letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
        assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
        stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
        park.
      </p>
    </mat-tab>
  </mat-tab-group>

</div>
